.nextDayWeatherContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nextDayHumidityAndWeatherIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.nextDayWeather {
  display: flex;
  justify-content: flex-end;
}
