:root {
  --BACKGROUND-COLOR: #000;
  --TEXT-COLOR: #fff;
  --CARD-BACKGROUND-COLOR: #1f1f1f;
  --GRAY-TEXT-COLOR: #a7a7a7;

  --APP-BUTTON-COLOR: #343a40;
  --APP-BUTTON-HOVER-COLOR: #495057;
  --APP-BUTTON-TEXT-COLOR: #fff;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--BACKGROUND-COLOR);
  color: var(--TEXT-COLOR);
}
