.headingMd {
  font-size: 22px;
  font-weight: 400;
}

.paragraphMd {
  font-size: 14px;
  color: var(--GRAY-TEXT-COLOR);
}

.card {
  background-color: var(--CARD-BACKGROUND-COLOR);
  padding: 15px 15px 15px 15px;

  border-radius: 20px;
}
